html,
body {
  font-family: Microsoft JhengHei;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-page, #renderCanvas, .flashMask, #messageBoard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* flash */
.flash {
  -webkit-animation-name: flash-animation;
  -webkit-animation-duration: 1s;
  animation-name: flash-animation;
  animation-duration: 1s;
}

@-webkit-keyframes flash-animation {
  from {
    background: rgba(255, 255, 255, 0.8);
  }
  to {
    background: default;
  }
}

@keyframes flash-animation {
  from {
    background: rgba(255, 255, 255, 0.8);
  }
  to {
    background: default;
  }
}

.untouchable, .flashMask, #messageBoard {
  pointer-events: none;
}

input[type=text] {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
  height: 24px;
  color: #ffffff;
}

.button, #loginPanel .skipAnimation > button {
  background-color: transparent;
  cursor: pointer;
}

.white-text, .control-panel .textInput button, #loginPanel .skipAnimation > button, #messageBoard .messageBoardContent .messageBox {
  color: white;
  text-shadow: 0px 0px 6px #404040;
}

.text-center {
  text-align: center;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.transition-all, .control-panel, .control-panel .textInput {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.clearfix::after, #messageBoard .messageBoardContent::after {
  content: "";
  clear: both;
  display: table;
}

.flex, .control-panel, .control-panel .textInput, #messageBoard {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column, .control-panel {
  flex-direction: column;
}

.flex-verticalCenter, .flex-center, .control-panel, .control-panel .textInput {
  align-items: center;
}

.flex-horizontalCenter, .flex-center, .control-panel, .control-panel .textInput, #messageBoard {
  justify-content: center;
}

.flex-end {
  align-items: flex-end;
}

#renderCanvas {
  touch-action: none;
}

.control-panel {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 70px;
}

.control-panel .buttons .button, .control-panel .buttons #loginPanel .skipAnimation > button, #loginPanel .control-panel .buttons .skipAnimation > button {
  font-size: 1.8em;
  border: 0;
}

.control-panel .textInput {
  width: 100%;
  max-width: 35em;
}

.control-panel .textInput input {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 1px;
  width: 80%;
}

.control-panel .textInput button {
  border: solid 1px white;
  border-radius: 1px;
  margin: 0;
}

#loginPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
}

#loginPanel > .wordCard {
  display: none;
  white-space: nowrap;
}

#loginPanel .skipAnimation {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}

#loginPanel .skipAnimation > button {
  border: 1px solid white;
  border-radius: 2px;
  padding: 0 20px;
}

#signinButton {
  display: inline-block;
  background: white;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
}

#signinButton:hover {
  cursor: pointer;
}

#signInWrapper .label {
  font-family: serif;
  font-weight: normal;
}

#signInWrapper .icon {
  background: url("https://google-developers.appspot.com/identity/sign-in/g-normal.png") transparent -7px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 30px;
}

.sign-in-button {
  background: transparent;
  padding: 0;
  border: none;
  color: #ecffec;
  font-size: 18px;
  cursor: pointer;
}

#messageBoard > div {
  margin-bottom: 100px;
}

#messageBoard .messageBoardContent {
  width: 100%;
  overflow: hidden;
}

#messageBoard .messageBoardContent .messageBox {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 3px;
  margin: 5px 0;
  border-radius: 3px;
  width: 50%;
  color: white;
}

#messageBoard .messageBoardContent .messageBox .avatar {
  position: absolute;
  width: 30px;
  transform: translateY(40%);
}

#messageBoard .messageBoardContent .messageBox .name {
  position: absolute;
  top: 0px;
  left: 7px;
}

#messageBoard .messageBoardContent .messageBox .content {
  margin: 20px 0 0 30px;
}

#messageBoard .scrollbarContainer {
  pointer-events: auto;
  position: relative;
  top: 0;
  right: 0;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

#messageBoard .scrollbarContainer .scrollbar {
  position: absolute;
  top: 0;
  right: 1px;
  width: 10px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .messageBoardContent {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 1224px) {
  .messageBoardContent {
    padding: 0 200px;
  }
}

#devPanel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#devPanel td {
  width: 50px;
  padding: 3px;
}

/*# sourceMappingURL=index.css.map */