#devPanel {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 280px;
    table {
        width: 100%;
        ul {
            padding-left: 15px;
        }
    }
}

#devPanel td {
    width: 50px;
    padding: 3px;
    word-break: break-all;
}