#loginPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
    >.wordCard {
        display: none;
        white-space: nowrap;
    }
    .skipAnimation {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%);
        >button {
            @extend .button;
            @extend .white-text;
            border: 1px solid white;
            border-radius: 2px;
            padding: 0 20px;
        }
    }
}

#signinButton {
    display: inline-block;
    background: white;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
}

#signinButton:hover {
    cursor: pointer;
}

#signInWrapper .label {
    font-family: serif;
    font-weight: normal;
}

#signInWrapper .icon {
    background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent -7px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 30px;
}

.sign-in-button {
    background: transparent;
    padding: 0;
    border: none;
    color: #ecffec;
    font-size: 18px;
    cursor: pointer;
}