@import '../common/mixin';
#messageBoard {
    @include untouchable;
    @include fullPageWithoutScrollbar;
    @include flex;
    @include flex-horizontalCenter;
    >div {
        margin-top: 10px;
        margin-bottom: 100px;
    }
    .messageBoardContent {
        @include clearfix;
        width: 100%;
        overflow: hidden;
        padding: 0 80px;
        .messageBox {
            // @include white-text;
            color: white;
            position: relative;
            margin: 15px 0;
            color: white;
            .avatar {
                position: absolute;
                width: 30px;
            }
            .name {
                position: absolute;
                top: -12px;
                font-size: 12px;
            }
            .content {
                padding: 3px 0;
                img {
                    max-width: 60%;
                    max-height: 300px;
                }
            }
        }
        $content-padding: 40px;
        .messageBox.left {
            .avatar {
                left: 0;
            }
            .name {
                left: 0;
            }
            .content {
                text-align: left;
                padding-left: $content-padding;
            }
        }
        .messageBox.right {
            .avatar {
                right: 0;
            }
            .name {
                right: -6px;
            }
            .content {
                text-align: right;
                padding-right: $content-padding;
            }
        }
    }
    .scrollbarContainer {
        pointer-events: auto;
        position: relative;
        top: 0;
        right: 1px;
        width: 20px;
        background-color: rgba(0, 0, 0, 0.1);
        .scrollbar {
            position: absolute;
            top: 0;
            right: 1px;
            width: 12px;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 5px;
        }
    }
}

@media only screen and (min-width: 768px) {
    #messageBoard .messageBoardContent {
        padding: 0 200px;
    }
}

@media only screen and (min-width: 1224px) {
    #messageBoard .messageBoardContent {
        padding: 0 350px;
    }
}

@media only screen and (min-width: 1920px) {
    #messageBoard .messageBoardContent {
        padding: 0 550px;
    }
}