@import '../common/mixin';
$color:rgb(100, 142, 87);
#projectInfo {
    color: $color;
    .infoIcon {
        z-index: 99;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 24px;
        cursor: pointer;
    }
    .container {
        @include fullPage;
        background-color: rgba(255, 255, 255, 0.8);
        overflow: auto;
        z-index: 98;
    }
    .content {
        margin: 0 auto;
        padding: 30px;
        position: relative;
        max-width: 600px;
        text-align: center;
        a {
            border: 1px solid $color;
            border-radius: 5px;
            padding: 5px 7px;
            color: $color;
            text-decoration: none;
        }
    }
}